/* Home Page CSS */

/* shared elements */
.done {
	text-decoration: line-through;
}
#main section {
	padding: 4em 1.5em;
	background-color: white;
}
@media screen and (min-width: 736px) {
	#main section {
		padding: 6em 8em;
	}
}
/* Featured-item rows */
@media screen and (min-width: 736px) {
	.feature .feature-content {
		width: 50%;
		margin-left: 50%;
	}
}
/* Simple rows of basic text */
.text-and-graphic-row {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.text-and-graphic-row .block {
	flex-grow: 1;
	min-width: 300px;
	max-width: 60%;
}
.text-and-graphic-row .attention-graphic {
	flex-grow: 0;
}
.text-and-graphic-row .block h2 {
  margin: 0;
}
.text-and-graphic-row h3 {
	font: 1.0em italic "Body";
}
.text-and-graphic-row .attention-graphic img {
  width: 100%;
}
.grid-2 {
	display: grid;
	grid-column: 1 1;
}


	/* Hero graphic */
#main section#hero {
	background: linear-gradient(to left, #8b86a3cc, #322e40cc), url("../img/hero-bg.jpg") fixed no-repeat 45% 0%;
	background-size: cover;
	padding: 10em 1.5em;
}
@media screen and (min-width: 736px) {
#main section#hero {
		padding: 19em 8em;
}
}
#main section#hero .block {
	color: #e3e3e3;
}
@media screen and (min-width: 736px) {
	#main section#hero .block {
		margin-left: 20%;
	}
}
#main section#hero .block h1 {
	color: inherit;
	font-family: "Display", fantasy, serif;
	font-weight: 400;
	font-size: 42pt;
	line-height: 1.3;
	letter-spacing: 0.3ex;
	margin-bottom: 1em;
}
#main section#hero .block p {
	font-family: "Body", serif;
	font-weight: 400;
	font-size: 25pt;
	line-height: 2;
	letter-spacing: 0.3ex;
	margin: 0;
}


	

	

	/* Pick your poison */
#pick-you .drink-option {
	display: block;
}

#pick-you #drinks {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: start;
	column-gap: 1em;
}

#pick-you #drinks label {
	font-weight: normal;
	text-transform: capitalize;
	grid-column: 1;
	margin: 0;
}

#pick-you #drinks input {
	grid-column: 2;
}

#pick-you #drinks .meaning {
	grid-column: 3;
}

@media screen and (max-width: 736px) {
	#pick-you #drinks {
		grid-template-columns: 1fr 1fr;
		justify-content: stretch;
	}

	#pick-you #drinks .meaning {
		grid-column: 1 / 3;
		margin: 0 0 1.5em;
	}
}


	/* Photos row */
section#photos {
	background: linear-gradient(to left, #8b86a3cc, #322e40cc),
		url("../img/beach-picnic.jpg") fixed
			no-repeat center center;
	background-size: cover;
}


	

	

