{
	"presets": [
		"react-app/dev",
		[
			"env",
			{
				"targets": {
					"browsers": [">0.25%", "not ie 11", "not op_mini all"]
				}
			}
		]
	],
	"plugins": [
		"add-module-exports",
		"transform-decorators-legacy",
		"transform-class-properties",
		"fast-async"
	]
}
