{{- $bg := (.Get "bg") | default "light" -}}
{{- if (not (eq $bg "dark")) -}}
{{- $bg := "light" -}}
{{- end -}}
{{- with .Get "bg-photo" -}}
{{- if (eq $bg "dark" ) -}}
{{- $.Scratch.Set "style" (print "background:linear-gradient(to left, #8b86a3cc, #322e40cc), url('" (. | relURL) "') fixed no-repeat center center;background-size:cover;") -}}
{{- else -}}
{{- $.Scratch.Set "style" (print "background:linear-gradient(to left, #9ea386cc, #ecf0c5cc), url('" (. | relURL) "') fixed no-repeat center center;background-size:cover;") -}}
{{- end -}}
{{- $.Scratch.Set "style" (printf "style=%q" ($.Scratch.Get "style") | safeHTMLAttr ) -}}
{{- end -}}
<section class='band {{ $bg }}-bg'{{ with .Get "id" }} id="{{ . }}"{{ end }}{{ with .Get "cssclass" }} class="{{ . }}"{{ end }}{{ with ($.Scratch.Get "style") }} {{ . }}{{ end }}>
	<div class="band-content">
		{{- .Inner -}}
	</div>
</section>
