{{- partial "general-title" . -}}

<!DOCTYPE HTML>
<!--
    Arcanum by Arlo Belshee
-->
<html>

<head>
	{{- partial "page-head" . -}}
</head>

<body>
	{{- partial "navbar" . -}}
	<!-- Main -->
	<div id="main">
		<article id="{{ .Section }}" class="subpage">
		{{- .Content }}
		<section class="content">
		{{- range .Paginator.Pages }}
			{{- $.Scratch.Set "isOdd" (not ($.Scratch.Get "isOdd" | default false)) -}}
			{{- if $.Scratch.Get "isOdd" }}
				{{- .Scratch.Set "parity" "odd" }}
			{{- else }}
				{{- .Scratch.Set "parity" "even" }}
			{{- end }}
			{{- .Render "summary" }}
		{{- end }}
		{{- partial "pagination" . -}}
		</section>
		</article>
	</div>
	<a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
	{{- partial "closing-scripts" . -}}
</body>

</html>
