{{- partial "general-title" . -}}

<!DOCTYPE HTML>
<!--
    Arcanum by Arlo Belshee
-->
<html>

<head>
	{{- partial "page-head" . -}}
</head>

<body>
	{{- partial "navbar" . -}}
	<!-- Main -->
	<div id="main">
		<article id="{{ .Params.id }}" class="subpage">
			<section class="intro">
			{{- .Content -}}
			</section>
		<section class="content">
		{{- range (.Paginate .Pages.Reverse 25).Pages }}
			{{- $.Scratch.Set "isOdd" (not ($.Scratch.Get "isOdd" | default false)) -}}
			{{- if $.Scratch.Get "isOdd" }}
				{{- .Scratch.Set "parity" "odd" }}
			{{- else }}
				{{- .Scratch.Set "parity" "even" }}
			{{- end }}
			{{- .Render "summary" }}
		{{- end }}
		</section>
		 {{- partial "pagination" . -}}
		</article>
	</div>
	<a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
	{{- partial "closing-scripts" . -}}
</body>

</html>
