{{- partial "general-title" . -}}

<!DOCTYPE HTML>
<!--
    Arcanum by Arlo Belshee
-->
<html>
<head>
{{- partial "page-head" . -}}
		</head>
		<body>
		{{- partial "navbar" . -}}
		<!-- Main -->
		<div id="main">
				<article id="{{ .Params.id }}" class="subpage">
					{{- if (.Site.Params.includeHeaderOnMarkdownPages | default true) }}
						<h1>{{ .Params.header | default .Params.Title | default "" | markdownify }}</h1>
					{{- end -}}
					<section id="content">
						{{- .Content -}}
					</section>
					<hr/>
					<section id="reactions" {{- if .Params.img_tag }} class="with-images" {{- end -}}>
					{{- if ne .Site.DisqusShortname "" -}}
					<aside class="comments">
						{{- template "_internal/disqus.html" . -}}
					</aside>
					{{- end -}}
					{{- if .Params.img_tag -}}
					<aside class="photo-gallery">
					<h2>Add with tag #{{ .Params.img_tag }}</h2>
					<div class="large-gallery react-photo-gallery" data-tags="{{ .Params.img_tag }}"></div>
					</aside>
					{{- end }}
					</section>
				</article>
		</div>
		<a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
{{- partial "closing-scripts" . -}}
	</body>
	</html>
