{{ partial "general-title" . }}

<!DOCTYPE HTML>
<!--
    Arcanum by Arlo Belshee
-->
<html>
<head>
{{ partial "page-head" . }}
		</head>
		<body>
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article id="{{ .Params.id }}">
					{{if (.Site.Params.includeHeaderOnMarkdownPages | default true) }}
            {{ $.Scratch.Set "h1" true }}
						{{ .Render "header" }}
						{{ end }}
            <section id="content">
                {{ .Content }}
            </section>
        </article>
    </div>
		<a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
{{ partial "closing-scripts" . }}
	</body>
	</html>
