{{- partial "general-title" . -}}

<!DOCTYPE HTML>
<!--
    Arcanum by Arlo Belshee
-->
<html>
<head>
{{- partial "page-head" . -}}
		</head>
		<body>
    {{- partial "navbar" . -}}
    <!-- Main -->
    <div id="main">
        <article id="{{ .Params.id }}" class="subpage">
					{{- if (.Site.Params.includeHeaderOnMarkdownPages | default true) }}
						<h1>{{ .Params.header }}</h1>
					{{- end -}}
            <section id="content">
                {{- .Content -}}
						</section>
				{{- if .Params.img_tag -}}
				<aside class="photo-gallery">
				<h1>Many more examples</h1>
				<div class="large-gallery react-photo-gallery" data-tags="{{ .Params.img_tag }}"></div>
				</aside>
				{{- end -}}
				</article>
    </div>
		<a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
{{- partial "closing-scripts" . -}}
	</body>
	</html>
