<section class="entry {{ .Scratch.Get "parity"}}">
	<div class="details">
		<div class="meta">
			<h3>February 2018 / Seattle / Heather's perspective</h3>
			<h2>{{ .Title }}</h2>
		</div>
		<div class="excerpt">
			<p>Arlo has an interesting ability to focus, especially when it comes to games. I'll never forget my introduction to cooperative
				games.</p>
			<p>"Oh you'll love them! Let's have a game night ... we'll drink whiskey and have charcuterie ... and we'll play a game."</p>
		</div>
		<div class="read-more">
			<a href="{{ .Permalink }}">Read more</a>
		</div>
		<div class="mini-gallery react-mini-gallery" data-tag="ah19-gaming"></div>
	</div>
	<a href="{{ .Permalink }}" class="teaser-image" style="background-image: url(/img/labrador-dog.jpg)"></a>
</section>
