<section class="entry {{ .Scratch.Get "parity"}}">
	<div class="details">
		<div class="meta">
			<h3>February 2018 / Seattle / Heather's perspective</h3>
			<h2>{{ .Title }}</h2>
		</div>
		<div class="excerpt">
			{{- .Summary -}}
		</div>
		<div class="read-more">
			<a href="{{ .Permalink }}">Read more</a>
		</div>
		<div class="mini-gallery react-mini-gallery" data-tag="ah19-gaming"></div>
	</div>
	<a href="{{ .Permalink }}" class="teaser-image" style="background-image: url(/img/labrador-dog.jpg)"></a>
</section>
