/* shared elements */
.done {
	text-decoration: line-through;
}
#main section {
	padding: 4em 1.5em;
	background-color: white;
}
@media screen and (min-width: 736px) {
	#main section {
		padding: 6em 8em;
	}
}
#main section .button {
	background-color: #655e7a;
	color: #fff;
	border-color: #655e7a;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6 {
	color: #b3a3b3;
}
.dark-bg {
	color: #e3e3e3;
}
#main section.dark-bg {
	background-color: #333;
}
#main section.dark-bg .button {
	background-color: #e3e3e3;
	color: #3b3b3b;
	border-color: #e3e3e3;
}
/* Featured-item rows */
@media screen and (min-width: 736px) {
	.feature .feature-content {
		width: 50%;
		margin-left: 50%;
	}
}
/* Simple rows of basic text */
.text-and-graphic-row {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.text-and-graphic-row .block {
	flex-grow: 1;
	min-width: 300px;
	max-width: 60%;
}
.text-and-graphic-row .attention-graphic {
	flex-grow: 0;
}
.text-and-graphic-row .block h2 {
  margin: 0;
}
.text-and-graphic-row h3 {
	font: 1.0em italic "Body";
}
.text-and-graphic-row .attention-graphic img {
  width: 100%;
}
.grid-2 {
	display: grid;
	grid-column: 1 1;
}
