/* Hero graphic */
#main section#hero {
	background: linear-gradient(to left, #8b86a3cc, #322e40cc), url("../img/hero-bg.jpg") fixed no-repeat 10% 0%;
	background-size: cover;
	padding: 10em 1.5em;
}
@media screen and (min-width: 736px) {
#main section#hero {
		padding: 19em 8em;
}
}
#main section#hero .block {
	color: #e3e3e3;
}
@media screen and (min-width: 736px) {
	#main section#hero .block {
		margin-left: 20%;
	}
}
#main section#hero .block h1 {
	color: inherit;
	font-family: "Display", fantasy, serif;
	font-weight: 400;
	font-size: 42pt;
	line-height: 1.3;
	letter-spacing: 0.3ex;
	margin-bottom: 1em;
}
#main section#hero .block p {
	font-family: "Body", serif;
	font-weight: 400;
	font-size: 25pt;
	line-height: 2;
	letter-spacing: 0.3ex;
	margin: 0;
}
