<!-- Key Logistics Start -->
<section id="logistics" class="text-and-graphic-row">
	<div class="block">
		<h2>Key Logistics</h2>
		<h3>When and Where</h3>
		<p>It'll be at the Rembrandt Yard in Boulder on 12 January 2019.</p>
		<p>There will be a hotel with a discount. Our conference will probably not have an official Airline, but there will be good options for getting from airport to Boulder.</p>
		<p>Beyond that...please come back in November and find out. Or
		<a href="{{ .Site.RSSLink | absURL }}" type="application/rss+xml" target="_blank" title="RSS" class="fas fa-rss"> subscribe to our feed</a>. We'll totally post about it.</p>
	</div>
	<div id="logistics-icons" class="attention-graphic">
		<i class="fas fa-hotel dual-icon">&nbsp;</i>
		<i class="fas fa-plane dual-icon">&nbsp;</i>
		<i class="fas fa-car dual-icon">&nbsp;</i>
		<i class="fas fa-bus-alt dual-icon">&nbsp;</i>
	</div>
</section>
	<footer>
		Copyright
		<i class="fab fa-d-and-d">&nbsp</i> 2018 Arlo and Heather.
	</footer>
