<!-- News Start -->
<section id="news" class="text-and-graphic-row">
	<div class="block">
		<h2>News</h2>
		<h3>Virtual showers</h3>
		<p>You live all over the place. So we're doing our showers virtually.</p>
		<div class="grid-2">
		<div class="left-col">
			<h3>Arlo</h3>
			<p>Like stuff and stuff</p>
			<p>
				<a class="button" href="#">Sign me up!</a>
			</p>
		</div>
		<div class="right-col">
			<h3>Heather</h3>
			<p>Like stuff and stuff</p>
			<p>
				<a class="button" href="#">Sign me up!</a>
			</p>
		</div>
</div>	</div>
</section>
