<!-- News Start -->
<section id="news" class="text-and-graphic-row dark-bg">
	<div class="block">
		<h2>...and Next Is</h2>
		<p>You live all over the place. So we're doing our showers virtually.</p>
		<div class="flowing">
			{{ partial "teaser-impl" (dict "url" "img/heather-shower.jpg" "title" "Heather's Shower" "description" "Heather defaults to formal. And then put Ellen in charge. Which means chickens are likely. No freaking idea what'll happen here..." "when" "90 min sometime in November" "where" "Virtual" "button" "Invite me!" "button_data" "heather-shower") }}
			{{ partial "teaser-impl" (dict "url" "img/arlo-shower.jpg" "title" "Arlo's Shower" "description" "Arlo defaults to gooey. But bachelor parties...don't. Can we crack him out of his shell or will he drag us to the soft side?" "when" "90 min sometime in November" "where" "Virtual" "button" "Invite me!" "button_data" "arlo-shower") }}
		</div>
	</div>
</section>
