<section class="" id="pick-you">
	<div class="block">
		<h2>Some really important info we need from you!</h2>
		<p>First, who is this? If this is multiple people, then come back multiple times! We needs personal info from each of you!
			<input name="name" type="text" placeholder="Your name">
		</p>
		<p>We've got 2 days of festivities! "They" tell us it's important to keep everyone hydrated, and each event has a different
			ambiance. Thus many different forms of hydration. So what do you like to drink?
			<div id="drinks">
				{{ range .Site.Data.drinks.options }}
				<label for="drink_{{ .id }}">{{ .drink | markdownify }}</label>
				<input type="range" name="drink_{{ .id }}" min="0" max="2" value="{{ .initial_value | default 0 }}">
				<span class="meaning" data-fieldname="drink_{{ .id }}" data-no="{{ .meaning_0 }}" data-some="{{ .meaning_1 }}" data-yes="{{ .meaning_2 }}"
				 data-initialvalue="{{ .initial_value | default 0 }}"></span>
				{{ end }}
			</div>
		</p>
	</div>
</section>
