/* Pick your poison */
#pick-you .drink-option {
	display: block;
}

#pick-you #drinks {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: start;
	column-gap: 1.0em;
}

#pick-you #drinks label {
	font-weight: normal;
	text-transform: capitalize;
	grid-column: 1;
	margin: 0;
}

#pick-you #drinks input {
	grid-column: 2;
}

#pick-you #drinks div {
	display: content;
}

#pick-you #drinks span.meaning {
	grid-column: 3;
}
