<section class="" id="pick-you">
	<div class="block">
		<h2>Some really important info we need from you!</h2>
		<p>We've got 2 days of festivities! "They" tell us it's important to keep everyone hydrated, and each event has a different
			ambiance. Thus many different forms of hydration.</p>
		<p>So what do you like to drink?</p>
			<div id="drinks">
				{{ range .Site.Data.drinks.options }}
				<label for="drink_{{ .id }}">{{ .drink | markdownify }}</label>
				<span class="drink-choice use-children"
				data-id={{ .id }}
				data-fieldname="drink_{{ .id }}"
				data-no="{{ .meaning_0 | markdownify | htmlEscape }}"
				data-some="{{ .meaning_1 | markdownify | htmlEscape }}"
				data-yes="{{ .meaning_2 | markdownify | htmlEscape }}"
				data-initialvalue="{{ .initial_value | default 0 }}"></span>
				{{ end }}
			</div>
		</p>
	</div>
</section>
