<!-- Todo Start -->
<section id="todo" class="text-and-graphic-row dark-bg">
	<div class="block">
		<h2>Stuff to finish for the site.</h2>
		<h3>Site:</h3>
		<ul style="list-style-type: square">
			<li class="done">Get menu, hero, and basic page together.</li>
			<li>Basic versions of all the other pages.</li>
		</ul>
		<h3>Deployment:</h3>
		<ul style="list-style-type: square">
			<li>Commit to github as a site-page.</li>
			<li>Map the domain name.</li>
		</ul>
		<h3>After first launch:</h3>
		<ul style="list-style-type: square">
			<li>.</li>
		</ul>
	</div>
</section>
