<!-- This partial is used by the img shortcodes and the template,
     featured in the post type

     Set the path depending on the value passed through

     if path is permalink then it will use the Permalink from the Page variable
     if path is date then it will format the directory to year/date i.e. 2006/01
     Note: path will be concatenated to the root directory, img

     otherwise use the explicit path provided by the user
-->

{{- $src := .Scratch.Get "path" }}

{{- if eq $src "permalink" }}
	 {{- $.Scratch.Set "path" "/img" }}
	 {{- $.Scratch.Add "path" .RelPermalink }}
{{- else if eq $src "date" }}
	{{- $.Scratch.Set "path" "/img/" }}
	{{- $.Scratch.Add "path" (.Date.Format "2006/01") }}
	{{- $.Scratch.Set "path" "/" }}
{{- else }}
	{{- $.Scratch.Set "path" $src }}
{{- end -}}
