<noscript class="warning">
	<p>
		Hey, just a quick warning. If you can see this, then there's a lot of this site you can't see. Oh, and we also won't be able
		to save anything or notice when you ask to be invited to stuff.
	</p>
	<p>Please turn on javascript.</p>
</noscript>
<div class="warning no-react hidden">
	<p>
		Hey, just a quick warning. If you can see this, then there's a lot of this site you can't see. Oh, and we also won't be able
		to save anything or notice when you ask to be invited to stuff.
	</p>
	<p>Please come back with a different browser and with javascript turned on. Just about any modern browser other than IE 11
		will do. Edge is fine, just not IE.</p>
</div>
