<!--
    Inside Double Brackets:

    teaser url="url" title="title" description="teaser text" when="date or time" where="location info" button=":none" button-data="field-to-store"

-->
{{ $.Scratch.Set "structType" "shortcode" }}
{{ $url := (.Get "url") }}
{{ $title := (.Get "title") }}
{{ $description := (.Get "description") }}
{{ $when := (.Get "when") }}
{{ $where := (.Get "where") }}
{{ $button := (.Get "button") }}
{{ $button_data := (.Get "button-data") }}

{{partial "teaser-impl" (dict "url" $url "title" $title "description" $description "when" $when "where" $where "button" $button "button_data" $button_data) }}
