<!--
    Inside Double Brackets:

    teaser url="url" title="title" description="teaser text" when="date or time" where="location info" button=":none" button-data="field-to-store"

-->
{{ $.Scratch.Set "structType" "shortcode" }}
{{ $url := (.Get "url") }}
{{ $title := (.Get "title") }}
{{ $description := (.Get "description") }}
{{ $when := (.Get "when") }}
{{ $where := (.Get "where") }}
{{ $button := (.Get "button") | default ":none" }}
{{ $button_data := (.Get "button-data") | default ":none" }}

	<figure class="teaser">
		<img src="{{ $url | relURL }}" title="{{ $title }}">
		<h3>{{ $title }}</h3>
		<p class="desc">{{ $description }}</p>
		<p class="logistics">{{ $when }}, {{ $where }}</p>
		{{ if (not (or (eq $button ":none") (eq $button_data ":none"))) }}
			<button data-column="{{ $button_data }}">{{ $button }}</button>
		{{ end }}
	</figure>
